<ion-view title="Dashboard">
  <ion-content class="padding">

    <ion-list>
      <div class="row">
        <h1 class="col" >User</h1>
      </div>

      <div class="row row-center honey_comb">
          <ion-item class="col col-33">
            <div ui-sref="tab.dash-user">
              <img class="cell" src="../img/hex-vert-empty.png">
              <p class="cell-text">{{username}}</p>
            </div>
          </ion-item>
      </div>
    </ion-list>

    <ion-list>
      <div class="row">
        <h1 class="col" >Inspections</h1>
      </div>
      <div class="row row-center honey_comb">
        <ion-item ng-click="showLog(log)" ng-repeat="log in recentInspections | orderBy: '-inspection_date' | limitTo: 2 as results" class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Log {{log.inspection_date | date:'MMM dd'}}</p>
        </ion-item>

          <ion-item class="col col-33">
            <div ui-sref="tab.inspection-new">
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <button class="button-positive ion-ios-plus-empty cell-text">
              </button>
            </div>
          </ion-item>
      </div>
    </ion-list>

    <ion-list>
      <div class="row">
        <h1 class="col" >Monitor</h1>
      </div>
      <div class="row honey_comb">
        <ion-item ng-click="#" class="col col-33">
          <div ui-sref="tab.monitor-temp">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">{{lastStat.temperature}}F</p>
          </div>
        </ion-item>
        <ion-item ng-click="#" class="col col-33">
          <div ui-sref="tab.monitor-humidity">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">{{lastStat.humidity}}%</p>
          </div>
        </ion-item>
      </div>
    </ion-list>



  </ion-content>
</ion-view>
