<ion-view view-title="Inspections">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear icon ion-ios-plus-empty" ui-sref="tab.inspection-new()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <div class="row row-center">

          <ion-item ng-repeat="log in inspectionsAll" class="col col-25 honey_comb">
            <img style="height: 60px;" src="../img/hex_vert_empty_black_bor.png" alt="">
            <p>{{log.inspection_date}}</p>
          </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
