<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear icon ion-ios-plus-empty" ui-sref="tab.inspection-new()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <h1>Inspection Log</h1>
      <div class="row row-center honey_comb">
          <br>
          <ion-item ng-click="showLog(log)" ng-repeat="log in inspectionsAll | orderBy: '-inspection_date'" class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">{{log.inspection_date | date:'MMM dd'}}</p>
          </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
