
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Resources Tab -->
  <ion-tab title="Resources" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/resources">
    <ion-nav-view name="tab-resources"></ion-nav-view>
  </ion-tab>

  <!-- Monitor Tab -->
  <ion-tab title="Monitor" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/monitor">
    <ion-nav-view name="tab-monitor"></ion-nav-view>
  </ion-tab>

  <!-- Inspections Tab -->
  <ion-tab title="Inspect" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/inspections">
    <ion-nav-view name="tab-inspect"></ion-nav-view>
  </ion-tab>


</ion-tabs>
