<ion-view view-title="New Inspection">
  <ion-content class="padding">
    <form class="list">

      <label class="item item-input">
        <span class="input-label">Date</span>
        <input ng-model="newLog.inspection_date" type="date" required>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Brood Age
        </div>
        <select ng-model="newLog.brood_age">
          <option disabled selected value="">Select Age</option>
          <option value="egg">Egg (tiny grain)</option>
          <option value="young_larva">Young Larva (tiny worm)</option>
          <option value="med_larva">Med Larva (larger worm)</option>
          <option value="large_larva">Large Larva (worm fills cell)</option>
          <option value="capped">Capped (by darker wax)</option>
          <option value="n/a">Not Applicable</option>
        </select>
      </label>

      <div class="item range transparent">

        <span class="input-label">Egg Laying</span>
        👎
        <input type="range" min="1" max="5" step="1" name="egg_pattern" ng-model="newLog.egg_pattern">
        👍
      </div>

      <div class="item range transparent">
        <span class="input-label">Temperment  </span>
        😖
        <input type="range" min="1" max="5" step="1" name="temperment" ng-model="newLog.temperment">
        😊
      </div>

      <ul>
      <li class="item item-toggle transparent">Queen Spotted
        <label class="toggle toggle-positive">
          <input ng-model="newLog.queen" type="checkbox" name="nightmare">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item">Temperature
        <label>
          <span style="float: right;" ng-model"newLog.temperature">{{newLog.temperature}} F</span>
        </label>
      </li>

      <li class="item">Humidity
        <label>
          <span style="float: right;" ng-model"newLog.humidity">{{newLog.humidity}}%</span>
        </label>
      </li>
    </ul>

    <label class="item item-input" name="body">
      <textarea rows="6" placeholder="Here you can write notes pertinent to your hive. Can you explain why they were grumpy? Any odd behavior?" ng-model="newLog.notes"></textarea>
    </label>

      <button class="button button-positive button-block" type="submit" ng-click="createLog(newLog)" name="button">Save</button>

    </form>
  </ion-content>
</ion-view>

<!-- ng-focus="cordova.plugins.Keyboard.show()" -->
