<ion-view view-title="{{thisLog.inspection_date | date:'longDate'}}">
  <ion-content class="padding">
    <ion-item >
      <p>Date of inspection: {{thisLog.inspection_date | date:'shortDate'}}</p>
      <p>Weather: {{thisLog.weather}}</p>
      <p>Brood Age: {{thisLog.brood_age}}</p>
      <p>Egg-laying Pattern 0-5, Spotty-Solid: {{thisLog.egg_pattern}}</p>
      <p>Hive Temperment 0-5, Aggressive to Calm: {{thisLog.temperment}}</p>
      <p>Queen Spotted? {{thisLog.queen}}</p>
      <p>Capped Honey? {{thisLog.honey}}</p>
      <p>Notes: {{thisLog.notes}}</p>

      <hr>
      <button ng-click="editLog(thisLog)" type="button" class="button button-calm" name="button">Edit</button>
      <button class="button button-assertive" type="submit" ng-click="deleteLog(thisLog)" name="button">Delete</button>
    </ion-item>
  </ion-content>
</ion-view>
