<ion-view view-title="{{thisLog.inspection_date}}">
  <ion-content class="padding">
    <ion-item>
      <p><strong>Date of inspection:</strong> {{thisLog.inspection_date}}</p>
    </ion-item>
    <div class="spacer"></div>

    <ion-item>
      <p><strong>Brood Age:</strong> {{thisLog.brood_age}}</p>
    </ion-item>
    <div class="spacer"></div>

    <ion-item>
      <p><strong>Egg-laying Pattern 0-5, Spotty-Solid:</strong> {{thisLog.egg_pattern}}</p>
      <p><strong>Hive Temperment 0-5, Aggressive to Calm:</strong> {{thisLog.temperment}}</p>
      <p><strong>Queen Spotted?</strong> {{thisLog.queen}}</p>
    </ion-item>
    <div class="spacer"></div>

    <ion-item>
      <p><strong>Temperature:</strong> {{thisLog.temperature}} F</p>
      <p><strong>Humidity:</strong> {{thisLog.humidity}}%</p>
    </ion-item>
    <div class="spacer"></div>

    <ion-item>
      <p><strong>Notes:</strong> {{thisLog.notes}}</p>
    </ion-item>
      <button ng-click="editLog(thisLog)" type="button" class="button button-positive button-block" name="button">Edit</button>
      <button class="button button-assertive button-block" type="submit" ng-click="deleteLog(thisLog)" name="button">Delete</button>
  </ion-content>
</ion-view>
