<ion-view title="">
  <ion-content class="padding">
      <div class="row">
        <h1 class="col">Inspection Log</h1>
        <button style="height: 85%;" class="button button-positive col col-20" ui-sref="tab.inspection-new()">New
        </button>
      </div>

      <div class="row honey_comb">
          <div class="hex-img"  ng-click="showLog(log)" 
          ng-repeat="log in inspectionIndex | orderBy: '-inspection_date'">
            <div class="hex-text">{{log.inspection_date}}</div>
          </div>
      </div>
  </ion-content>
</ion-view>
