<ion-view title="">
  <ion-content class="padding">
    <ion-list>
      <div class="row">
        <h1 class="col" >Inspection Log</h1>
        <button style="height: 85%;" class="button button-positive ion-ios-plus-empty col col-10" ui-sref="tab.inspection-new()">
        </button>
      </div>

      <div class="row row-center honey_comb">
          <br>
          <ion-item ng-click="showLog(log)" ng-repeat="log in inspectionIndex | orderBy: '-inspection_date'" class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">{{log.inspection_date | date:'MMM dd'}}</p>
          </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

<!-- href="#/tab/chats/{{chat.id}}" -->
