<ion-view view-title="">
  <ion-content class="padding">
    <h1>About NewBee</h1>
    <div class="padding">

      <p>NewBee is an iOS app developed with 'newbee' beekeepers in mind. Never done it before, but want to give it a try? Welcome! Don't know anyone to ask questions? NewBee is here for you!</p>

      <h3 class="center">Resources</h3>
      <p><strong>Bee MD</strong> is your Web MD for bees! Caring for a macro-organism is different than caring for a cat or a dog. Observe your bees, and if anything seems off, checkout the <strong>Symptoms</strong> page. You might find some underlying causes, which are voted based on likliness of the connection. <strong>Causes</strong> connect you to potentially helpful <strong>Treatments</strong>. Please vote responsibly, and remember that bees' lives are at stake!</p>

      <h3 class="center">Monitor</h3>
      <p>Using "Internet of Things" (or, as I call it,<strong>Internet of Stings</strong>), NewBee uses a Raspberry Pi device to monitor the hive. It grabs temperature and humidity data and sends it back to you so you can be rest assured they don't get too hot in the summer, or too cold in the winter.</p>

      <h3 class="center">Inspections</h3>
      <p>Instead of taking your pet for a walk, a beekeeper's duties is primarily doing hive <strong>Inspections</strong>. These inspections are designed to help a newbee know what to look for, to remember what happened last time you checked in on them, and help you track their progress and well-beeing.</p>
    </div>

    <h1>Contact</h1>
    <div class="padding">
      <h3 class="center">Alyssa Evans</h3>
      <p>Alyssa Evans is a mega bee-enthusiast and the creator of this app. Her amateur bee-adventures can be viewed at her mini <a href="https://www.youtube.com/channel/UCN7eHZRSd4DDrnJ439oCyUg">Youtube Channel</a>. She can be reached at: </p>
      <ul>
        <li>
          <span>alyssa.m.evans@gmail.com</span>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/alyssa-m-evans/">Linked In</a>
        </li>
        <li>
          <a href="https://github.com/missalyss?tab=stars">GitHub</a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
