<ion-view title="">
  <ion-content class="padding">
    <h1>Welcome to newbee</h1>
    <br>

    <div class="auth-center">
      <h3 ng-show="loginForm.username.$error.required && loginForm.username.$touched">Username is required</h3>
      <h3 ng-show="loginForm.pw.$error.required && loginForm.pw.$touched">Password is required</h3>
      <h3 ng-if="error">Username or email invalid. Try again.</h3>
    </div>

    <form novalidate class="padding" name="loginForm">

      <label class="item item-input">
        <span class="input-label">Username</span>
        <input required
        ng-model="user.username"
        type="text" name="username"
        autocapitalize="off" autocorrect="off" value="">
      </label>

      <label class="item item-input">
        <span class="input-label">Password</span>
        <input required
        ng-model="user.password"
        type="password" name="pw" value=""
        autocapitalize="off" autocorrect="off">
      </label>

      <br>
      <button ng-click="login(user)" ng-disabled="loginForm.$invalid" class="button button-positive button-block" type="submit" name="button">Log in</button>
    </form>
      <br>
      <div class="auth-center">
        <a ui-sref="signup">Need to sign up?</a>
      </div>
  </ion-content>
</ion-view>
