<ion-view title="">
  <ion-content class="padding">
    <h1>Welcome to newbee</h1>
    <br>
    <form novalidate name="loginForm">

      <label class="item item-input">
        <span class="input-label">Username</span>
        <input required
        ng-model="user.username"
        type="text" name="username"
        autocapitalize="off" autocorrect="off" value="">
      </label>

      <label class="item item-input">
        <span class="input-label">Password</span>
        <input required
        ng-model="user.password"
        type="password" name="pw" value=""
        autocapitalize="off" autocorrect="off">
      </label>

      <br>
      <button ng-click="login(user)" class="button button-calm button-block" type="submit" name="button">Log in</button>
    </form>
      <br>
      <div class="auth-center">
        <a ui-sref="signup">Need to sign up?</a>
      </div>
  </ion-content>
</ion-view>
