<ion-view title="Sign Up">
  <ion-content class="padding">

    <label for="signup-email">Email</label>
    <input ng-model="user.email" id="signup-email" type="email" name="email" value="" autocapitalize="off" autocorrect="off">

    <label for="signup-username">Username</label>
    <input ng-model="user.username" id="signup-username" type="text" name="username" value="" autocapitalize="off" autocorrect="off">

    <label for="signup-pw">Password</label>
    <input ng-model="user.password" id="signup-pw" type="password" name="pw" value="" autocapitalize="off" autocorrect="off">

    <!-- <label for="signup-pw">Retype Password</label>
    <input ng-model="user.password" id="signup-pw" type="password" name="pw" value=""> -->

    <br>
    <button ng-click="signup(user)" class="button button-calm" type="button" name="button">Sign Up</button>
    <br>
    <a ui-sref="login">Already have an account?</a>
  </ion-content>
</ion-view>
