<ion-view title="">
  <ion-content class="padding">
    <h1>User</h1>
    <div class="row">
      <div class="col center">
        <div class="avatar">
      </div>
      <div class="col">
        <h2>{{userData.username}}</h2>
        <h3>{{userData.email}}</h3>

      </div>

    </div>
    <br>
    <div class="padding">
      <button type="button" class="button button-positive button-block" ui-sref="tab.dash-user-edit">Edit User Info</button>
      <button type="button" class="button button-assertive button-block" ng-click="logUserOut()" name="button">Log Out</button>
    </div>
  </ion-content>
</ion-view>
