<ion-view view-title="Causes">
  <ion-content class="padding">

    <h1 class="col">{{thisCause.cause}}</h1>
    <div class="larger" ng-click="clicked = !clicked">
      <a ng-show="thisCause.cause_gloss_id" >
        <i ng-show="!clicked" class="icon ion-ios-plus-outline"></i>
        <i ng-show="clicked" class="icon ion-ios-plus"></i> Definition</a>
    </div>
    <div ng-show="clicked">
      <p>{{thisCause.glossDef}}</p>
    </div>
    <p class="col">{{thisCause.why}}</p>

    <h3>Symptoms:</h3>
    <ul>
      <li class="row row-center larger" ng-repeat="symptom in theseSymptoms | orderBy:'-votes'">
        <button class="col-10 button button-positive button-small" ng-click="scUpVote(symptom)">
          <i class="icon ion-ios-arrow-up"></i>
        </button>
        <span class="col-10 center">{{symptom.votes}}</span>
        <button class="col-10 button button-positive button-small" ng-click="scDownVote(symptom)">
          <i class="icon ion-ios-arrow-down"></i>
        </button>
        <a class="col marginal" ng-click="symptomLink(symptom.symptom_id)">{{symptom.symptom}}</a>
      </li>
    </ul>

    <h3>Treatments:</h3>
    <ul>
      <li class="row row-center larger" ng-repeat="treatment in theseTreatments | orderBy: '-votes'">
        <button class="col-10 button button-positive button-small" ng-click="ctUpVote(treatment)">
          <i class="icon ion-ios-arrow-up"></i>
        </button>
        <span class="col-10 center">{{treatment.votes}}</span>
        <button class="col-10 button button-positive button-small" ng-click="ctDownVote(treatment)">
          <i class="icon ion-ios-arrow-down"></i>
        </button>
        <a class="col marginal" ng-click="treatmentLink(treatment.treatment_id)">{{treatment.title}}</a>
      </li>
    </ul>


  </ion-content>
</ion-view>
