<ion-view view-title="Causes">
  <ion-content class="padding">

    <h1 class="col">{{thisCause.cause}}</h1>
    <a ng-show="thisCause.cause_gloss_id" ng-click="glossaryLink(thisCause.cause_gloss_id)">Glossary link</a>
    <p class="col">{{thisCause.why}}</p>

    <h3>Symptoms:</h3>
    <ul>
      <li ng-repeat="symptom in theseSymptoms | orderBy:'-votes'">
        <i ng-click="scUpVote(symptom)" class="icon ion-ios-arrow-up"></i>
        <span>{{symptom.votes}}</span>
        <i ng-click="scDownVote(symptom)" class="icon ion-ios-arrow-down"></i>
        <a ng-click="symptomLink(symptom.symptom_id)">{{symptom.symptom}}</a>
      </li>
    </ul>

    <h3>Treatments:</h3>
    <ul>
      <li ng-repeat="treatment in theseTreatments | orderBy: '-votes'">
        <i ng-click="ctUpVote(treatment)" class="icon ion-ios-arrow-up"></i>
        <span>{{treatment.votes}}</span>
        <i ng-click="ctDownVote(treatment)" class="icon ion-ios-arrow-down"></i>
        <a ng-click="treatmentLink(treatment.treatment_id)">{{treatment.title}}</a>
      </li>
    </ul>


  </ion-content>
</ion-view>
