<ion-view view-title="">
  <ion-content class="padding">

    <div class="row">
      <h1 class="col">Causes</h1>
    </div>

    <label class="item item-input">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input ng-model="termSearch" type="text" name="" value="" placeholder="Search">
    </label>
    <br>

    <div class="row row-center honey_comb">
      <div ng-click="showCause(term)" ng-repeat="term in causes | filter:termSearch" class="hex-img">
        <div class="hex-text">{{term.cause}}</div>
      </div>
    </div>

  </ion-content>
</ion-view>
