<ion-view view-title="Symptoms">
  <ion-content class="padding">

    <h1 class="col">{{thisSymptom.symptom}}</h1>
    <p class="col">{{thisSymptom.details}}</p>
    <a ng-show="thisSymptom.symptom_gloss_id" ng-click="glossaryLink(thisSymptom.symptom_gloss_id)">Glossary link</a>

    <h3>Possible Causes:</h3>
    <ul>
      <li ng-repeat="cause in theseCauses | orderBy:'-votes'">
        <button ng-click="scUpVote(cause)"><i class="icon ion-ios-arrow-up"></i></button>
        <span>{{cause.votes}}</span>
        <button ng-click="scDownVote(cause)"><i class="icon ion-ios-arrow-down"></i></button>
        <a ng-click="causeLink(cause.cause_id)">  {{cause.cause}}</a>
      </li>
    </ul>

  </ion-content>
</ion-view>
