<ion-view view-title="">
  <ion-content>
    <div class="row">
      <h1 class="col">Bee MD</h1>
    </div>
    <div class="row row-center honey_comb">

      <div ui-sref="tab.resources-glossary()" class="hex-img">
        <div class="hex-text">Glossary</div>
      </div>

      <div ui-sref="tab.resources-symptoms()" class="hex-img">
        <div class="hex-text">Symptoms</div>
      </div>

      <div ui-sref="tab.resources-causes()" class="hex-img">
        <div class="hex-text">Causes</div>
      </div>

      <div ui-sref="tab.resources-treatments()" class="hex-img">
        <div class="hex-text">Treatments</div>
      </div>

    </div>
  </ion-content>
</ion-view>
