<ion-view view-title="Resources">
  <ion-content>
    <ion-list>
      <div class="row">
        <h1 class="col">Welcome to the Hive Mind</h1>
      </div>
      <div class="row row-center honey_comb">

          <ion-item class="col col-33">
            <div ui-sref="tab.resources-glossary()">
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Glossary</p>
            </div>
          </ion-item>

          <ion-item class="col col-33">
            <div ui-sref="tab.resources-symptoms()">
              <img ui-sref="tab.resources-symptoms()" class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Symptoms</p>
            </div>
          </ion-item>

          <ion-item  class="col col-33">
            <div ui-sref="tab.resources-causes()">
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Causes</p>
            </div>
          </ion-item>

          <ion-item  class="col col-33">
            <div ui-sref="tab.resources-treatments()">
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Treatments</p>
            </div>
          </ion-item>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
