<ion-view view-title="">
  <ion-content>
    <ion-list>
      <div class="row">
        <h1 class="col">Bee MD</h1>
      </div>
      <div class="row row-center honey_comb">

          <ion-item class="comb">
            <div ui-sref="tab.resources-glossary()" class="col">
              <!-- <img class="cell" src="/Users/missalyss/galvanize/projects/newbee/front_newbee/newbee/www/img/hex-vert-empty.png" alt=""> -->
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Glossary</p>
            </div>
          </ion-item>

          <ion-item class="comb">
            <div ui-sref="tab.resources-symptoms()" class="col">
              <!-- <img ui-sref="tab.resources-symptoms()" class="cell" src="/Users/missalyss/galvanize/projects/newbee/front_newbee/newbee/www/img/hex-vert-empty.png" alt=""> -->
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Symptoms</p>
            </div>
          </ion-item>

          <ion-item  class="comb">
            <div ui-sref="tab.resources-causes()" class="col">
              <!-- <img class="cell" src="/Users/missalyss/galvanize/projects/newbee/front_newbee/newbee/www/img/hex-vert-empty.png" alt=""> -->
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Causes</p>
            </div>
          </ion-item>

          <ion-item  class="comb">
            <div ui-sref="tab.resources-treatments()" class="col">
              <!-- <img class="cell" src="/Users/missalyss/galvanize/projects/newbee/front_newbee/newbee/www/img/hex-vert-empty.png" alt=""> -->
              <img class="cell" src="../img/hex-vert-empty.png" alt="">
              <p class="cell-text">Treatments</p>
            </div>
          </ion-item>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
