<ion-view view-title="">
  <ion-content class="padding">

    <div class="row">
      <h1 class="col">Treatments</h1>
    </div>
    <div class="row">
      <label class="item item-input">
        <i class="icon ion-ios-search placeholder-icon"> </i>
        <input ng-model="termSearch" type="text" name="" value="" placeholder="Search">
      </label>
    </div>

    <div class="row row-center honey_comb">
      <ion-item class="comb" ng-repeat="term in treatments | filter:termSearch">
        <div ng-click="showTreatment(term)" class="col">
          <!-- <img class="cell" src="/Users/missalyss/galvanize/projects/newbee/front_newbee/newbee/www/img/hex-vert-empty.png" alt=""> -->
          <img class="cell" src="../img/hex-vert-empty.png" alt="">
          <p class="cell-text">{{term.title}}</p>
        </div>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
