<ion-view view-title="Humidity">
  <ion-content class="padding">
    <label class="item item-input item-select">
        Chart view dates from:
      <select ng-model="hChart">
        <option label="Today" value="today" ng-selected="true"></option>
        <option label="This Week" value="thisWeek"></option>
        <option label="This Month" value="thisMonth"></option>

      </select>
    </label>

    <div ng-switch on="hChart">

      <div ng-switch-when="today">
        <ion-item>
          <canvas id="line" class="chart chart-line" chart-data="hTodayData" chart-labels="hTodayLabels" chart-options="hOptions" chart-colors="myColors"></canvas>
        </ion-item>
      </div>

      <div ng-switch-when="thisWeek">
        <ion-item>
          <canvas id="line" class="chart chart-line" chart-data="hWeekData" chart-labels="hWeekLabels" chart-options="hOptions" chart-colors="myColors">></canvas>
        </ion-item>
      </div>

      <div ng-switch-when="thisMonth">
        <ion-item>
          <canvas id="line" class="chart chart-line" chart-data="hMonthData" chart-labels="hMonthLabels" chart-options="hOptions" chart-colors="myColors">></canvas>
        </ion-item>
      </div>
    </div>

  </ion-content>
</ion-view>
