<ion-view view-title="Monitor">
  <ion-content>
    <ion-list>
      <div class="row">
        <h1 class="col">Sensor Data</h1>
      </div>
      <div class="row row-center honey_comb">
          <ion-item class="col col-33">
            <img ui-sref="tab.monitor-temp()" class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Temperature</p>
          </ion-item>

          <ion-item class="col col-33">
            <img ui-sref="tab.monitor-humidity()" class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Humidity</p>
          </ion-item>

          <ion-item  class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Acoustics</p>
          </ion-item>

          <ion-item  class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Weight</p>
          </ion-item>

          <ion-item  class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Brood Temp</p>
          </ion-item>

          <ion-item  class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Infrared</p>
          </ion-item>

          <ion-item  class="col col-33">
            <img class="cell" src="../img/hex-vert-empty.png" alt="">
            <p class="cell-text">Bee Counter</p>
          </ion-item>

      </div>
  </ion-content>
</ion-view>
