<ion-view view-title="">
  <ion-content>
    <ion-list>
      <div class="row">
        <h1 class="col">Monitor</h1>
      </div>
      <div class="row row-center honey_comb">

        <div ui-sref="tab.monitor-temp()" class="hex-img">
            <div class="hex-text">Temperature</div>
          </div>

        <div ui-sref="tab.monitor-humidity()" class="hex-img">
            <div class="hex-text">Humidity</div>
          </div>

        <div class="hex-img shade">
          <div class="hex-text">Acoustics</div>
        </div>

        <div class="hex-img shade">
          <div class="hex-text">Weight</div>
        </div>

        <div class="hex-img shade">
          <div class="hex-text">Brood Temp</div>
        </div>

          <!-- <div  class="hex-img">
            <div class="hex-text">Infrared</div>
          </div>

          <div  class="hex-img">
            <div class="hex-text">Bee Counter</div>
          </div> -->

      </div>
    </ion-list>
  </ion-content>
</ion-view>
