<ion-view view-title="Temperature">
  <ion-content class="padding">

    <label class="item item-input item-select">
        Chart view dates from:
      <select ng-model="tChart">
        <option label="Today" value="today" ng-selected="true"></option>
        <option label="This Week" value="thisWeek"></option>
        <option label="This Month" value="thisMonth"></option>
        <option label="All Time" value="allTime"></option>
      </select>
    </label>

    <div ng-switch on="tChart">

      <div ng-switch-when="today">
        <ion-item>
          <canvas id="line" class="chart chart-line" chart-data="tTodayData" chart-labels="tTodayLabels" chart-options="tOptions" chart-colors="myColors"></canvas>
        </ion-item>
      </div>

      <div ng-switch-when="thisWeek">
        <ion-item>
          <canvas id="line" class="chart chart-line" chart-data="tWeekData" chart-labels="tWeekLabels" chart-options="tOptions" chart-colors="myColors">></canvas>
        </ion-item>
      </div>

      <div ng-switch-when="thisMonth">
        <ion-item>
          <canvas id="line" class="chart chart-line" chart-data="tMonthData" chart-labels="tMonthLabels" chart-options="tOptions" chart-colors="myColors">></canvas>
        </ion-item>
      </div>

      <div ng-switch-when="allTime">
        <ion-item>
          <canvas id="line" class="chart chart-line" chart-data="tAllData" chart-labels="tAllLabels" chart-options="tOptions" chart-colors="myColors"></canvas>
        </ion-item>
      </div>

    </div>

  </ion-content>
</ion-view>
