
  .comb{
    padding: 0;
    background-color: $bees;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .cell {
    position:relative;
    height: 100px;
    margin: 0px 4px;
  }
  .cell-text {
    padding: 6px;
    position:absolute;
    text-align:center;
    width: 90%;
  }
